.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;

}
.tab-pane > .tab-header-area  {

-fx-background-insets: 0, 0 5 0 0, 1 6 0 0 ;
}


.tab-pane *.tab-header-background {
    -fx-background-color: #2369B5;
}